# Xcode
#
# gitignore contributors: codeka, tylo, m_v_b

## Build results
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcbkptlist
*.plist
!Info.plist
!*App.plist
!*Entitlements.plist
!*Package.resolved

## Swift Package Manager
.build/
.swiftpm/

## OS X
.DS_Store
